$brand1: #00585E;
$brand2: #009494;
$brand3: #F5F2DC;
$brand4: #454445;
$brand5: #FF5729;

$shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.2);

html, body {
  height: 100%;
  color: $brand3;
}

body {
  background-color: $brand1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrap {
  background-color: $brand2;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 200px;
  padding: 20px;
  box-shadow: $shadow;
}

.array {
  padding: 20px;
}

#output {
  visibility: hidden;
  display: block;
  min-height: 20px;
  background-color: $brand5;
  padding: 20px;
}

#output.show {
  visibility: visible;
}

button {
  background-color: $brand4;
  color: $brand3;
  padding: 10px;
  box-shadow: $shadow;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: lighten($brand4, 10%);
}

button:focus {
  outline: 0;
}

button:active {
  background-color: lighten($brand4, 5%);
  box-shadow: none;
}
